@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Calculator";
  src: url("../fonts/Calculator.woff2") format("woff2"),
        url("../fonts/Calculator.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
}

#mobile-menu {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.App {
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 64px);
}

.calc-body {
  background-color: rgb(167, 167, 167);
  width: 230px;
  height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 3px rgb(70, 70, 70) solid;
}

.item-body {
  padding: 18px 10px;
  background-color: #fff;
  width: 230px;
  height: 315px;
  border-radius: 10px;
  border: 3px #fff solid;
}

.buttons {
  margin-top: 15px;
  width: 200px;
  display: grid;
  gap: 5px;
}

.zero {
  width: 90px;
  border-radius: 20px;
}

.math {
  background-color: rgb(235, 113, 13) !important;
}

.spec {
  background-color: rgb(230, 230, 230) !important;
  color: rgb(43, 43, 43) !important;
}

.move-default {
  transition: all 0.3s;
}

.move-to-right {
  transform: translateX(121px);
}

.move-to-left {
  transform: translateX(-121px);
}

.text-xxs {
  font-size: 10px;
}